<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClientBlog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClientBlog.styles.css" asp-append-version="true" />
</head>

<body>

    <!-- HEADER FIXO -->
    <header class="header-fixed header-wood">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" class="logo-img" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-end" id="mainNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link electric-link" asp-controller="Home" asp-action="About">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link electric-link" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- evita que o conteúdo entre atrás do header -->
    <div class="header-offset"></div>

    <!-- CONTEÚDO CENTRAL COM BARRAS BRANCAS LATERAIS -->
    <div class="outer-frame">
        <div class="inner-frame">
            @RenderBody()
        </div>
    </div>

    <!-- FOOTER FIXO -->
    <footer class="footer-fixed">
        © 2025 - ClientBlog -
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
