<div class="project-grid">

    <details class="project-card">
        <summary>
            <h3>Sunshine etude G minor</h3>
            <span class="tags">Piano • Composition • Classical • 2025</span>
        </summary>

        <div class="project-body">
            <p>
                Original piano composition exploring harmonic tension,
                rhythmic contrast, and emotional pacing.
            </p>

            <div class="project-links">
                <a href="https://www.bandlab.com/track/b798db6d-4ecc-ef11-88cd-6045bd345b20?revId=b698db6d-4ecc-ef11-88cd-6045bd345b20"
                   target="_blank"
                   rel="noopener noreferrer">
                    Listen on BandLab
                </a>
            </div>
        </div>
    </details>
    <details class="project-card">
        <summary>
            <h3>Maybe It 'is</h3>
            <span class="tags">Piano • Composition • Jazz • 2025</span>
        </summary>

        <div class="project-body">
            <p>
                Music made to express my emotions. 
                It's like a conversation with my 
                mind and the present moment in the music.
            </p>

            <div class="project-links">
                <a href="https://www.bandlab.com/track/f1a0f7b2-57ee-f011-8d4d-002248444940?revId=f0a0f7b2-57ee-f011-8d4d-002248444940"
                   target="_blank"
                   rel="noopener noreferrer">
                    Listen on BandLab
                </a>
            </div>
        </div>
    </details>

</div>
<style>
    .music-embed {
        margin-top: 15px;
        border-radius: 10px;
        overflow: hidden;
    }

        .music-embed iframe {
            border-radius: 10px;
        }

</style>